/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

body {
    margin: 0 auto;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 1.4em;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 1em;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.3em;
}

h3 {
    font-size: 1.2em;
}

/****** Header ***********/

header {
    display: flex;
    justify-content: space-between;
}

.logo {
    margin: auto 0px;
}

.logo img {
    height: 19px;
}

nav {
    height: 79px;
    display: flex;
}

nav a {
    padding-right: 30px;
}

nav h2 {
    margin-top: 0;
    padding-top: 10px;
    font-size: 16px;
}

nav a :hover {
    color: #0065FC;
    border-top: 3px solid #0065FC;
    margin-top: 0;
    padding-top: 7px;
}

/****** infos-filtres ***********/

.infos-filtres {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 30px;
}

.localisation {
    height: 49px;
    display: flex;
    border-radius: 15px;
    margin: 20px 0;
}

.geoloc-icon {
    width: 50px;
    height: 49px;
    border: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    border: 1px solid #F2F2F2;
    border-radius: 15px 0 0 15px;
}

.geoloc-icon svg {
    width: 14px;
    height: 18px;
}

.city-input {
    border: none;
    outline: none;
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid #F2F2F2
}

.search-btn {
    width: 132px;
    height: 49px;
    background: #0065FC;
    color: white;
    border: 1px solid #0065FC;
    border-radius: 0 15px 15px 0;
    cursor: pointer;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
}

.search-btn:hover {
    background-color: #0056b3;
}

.filters {
    display: flex;
    width: 758px;
    height: 50px;
    margin: 20px 0;
}

button > .fa-solid {
    padding-right: 10px;
}

.filters h2 {
    display: flex;
    align-self: center;
    margin-right: 10px;
}

.filter-select {
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.filter-btn {
    display: flex;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    border-radius: 25px;
    background-color: white;
    border: 2px solid #D9D9D9;
    padding: 20px;
}

.filter-btn i.fa-solid {
    font-size: 22px;
}

.filters .filter-btn:hover {
    cursor: pointer;
    background: linear-gradient(0deg, #DEEBFF, #DEEBFF), linear-gradient(0deg, #D9D9D9, #D9D9D9);
}

.nbHousing {
    display: flex;
    align-items: center;
}

.nbHousing .logo-i {
    border-radius: 50%;
    border: 1px solid #D9D9D9;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

.hebergements h2 {
    margin: 0;
}

/****** Hebergements ***********/

#hebergements {
    width: 65%;
}

.hebergements-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.hebergements-cards a {
    width: 31%;
}

.hebergements-cards .card {
    display: flex;
    margin-top: 33px;
    flex-direction: column;
    height: auto;
}

.hebergements-cards img {
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.hebergements-cards .card-content {
    width: auto;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.hebergements-cards .card-subtitle {
    margin: 0;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/

#activites {
    padding: 30px;
}

#activites h2 {
    font-size: 1.4em;
}

.lieux {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.lieux-cards {
    height: 439px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lieux a {
    width: 23%;
    box-shadow: 0px 3px 15px 0px #0000001A;
    border-radius: 20px;
}

.lieux-cards img {
    object-fit: cover;
    width: 100%;
    height: 380px;
    border-radius: 20px 20px 0 0;
}

.lieux-title {
    padding-left: 20px;
}

/****** Footer ***********/

footer {
    display: flex;
    background: #F2F2F2;
    margin-top: 30px;
}

.footer-links {
    width: 33%;
    padding-left: 40px;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {

    .main-container {
        min-width: 320px;
        max-width: 924px;
        padding: 0 10px;
        margin: 0;
    }

    .filters {
        width: 668px;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding-bottom: 50px;
    }

    .filters h2 {
        align-self: normal;
        padding-bottom: 10px;
    }

    .filter-btn {
        height: 50px;
    }

    .nbHousing p {
        padding: 0;
    }

    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements-and-populaires section {
        padding: 25px 20px;
    }

    #hebergements {
        width: 100%;
    }

    .hebergements-cards {
        padding-bottom: 20px;
    }

    .card-title {
        padding: 5px 0;
    }

    p.card-subtitle {
        padding-bottom: 5px;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 32%;
    }

    .populaires-cards .card-title {
        font-size: 16px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .lieux-cards {
        height: 270px;
        justify-content: flex-start;
    }

    .lieux-content {
        height: 70px;
        display: flex;
        align-items: center;
    }

    .lieux-cards img {
        height: 200px;
        object-fit: cover;
    }

    .lieux-title {
        padding-left: 20px;
        font-size: 16px;
    }

    #activites h2 {
        margin: 30px 0;
    }

    footer {
        height: 163px;
    }

    .footer-links h2, p {
        padding-top: 15px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {

.main-container {
    min-width: 320px;
    padding: 0;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 115px;
}

nav {
    width: 100%;
    height: 40%;
    margin-bottom: 20px;
}

nav a {
    width: 50%;
    text-align: center;
    padding: 0;
    border-bottom: 3px solid #F2F2F2;
}

nav a :hover {
    color: #0065FC;
    border-top: 0px;
    border-bottom: 3px solid #0065FC;
    padding-bottom: 14.5px;
    padding-top: 10px;
}

.infos-filtres {
    padding: 0 10px;
}

.filters{
    width: 100%;
}

.filter-select {
    display: flex;
    flex-wrap: wrap;
}

.filter-btn {
    width: 48%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.nbHousing {
    margin-top: 70px;
}

.hebergements-and-populaires .populaires {
    order: -1;
    margin-top: 0;
    margin-bottom: 20px;
}

.hebergements-and-populaires #hebergements {
    background-color: white;
}

.populaires-cards {
    display: flex;
    flex-direction: column;
}

.populaires-cards .card {
    margin-top: 15px;
}

.populaires-cards a {
    width: 100%;
}

.hebergements-cards {
    display: flex;
    flex-direction: column;
}

.hebergements-cards a {
    width: 100%;
}

.hebergements-cards .card {
    margin-top: 15px;
}

#activites h2 {
    margin: 10px 0;
}

.lieux {
    display: flex;
    flex-direction: column;
}

.lieux a {
    width: 100%;
    height: 200px;
    margin-top: 20px;
}

.lieux img {
    height: 140px;
}

footer {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
}

.footer-links {
    width: auto;
    margin: 10px 0;
}

}